body{
    background-color: rgb(250, 226, 178);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.datos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 185, 253);
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}

table{
    width: 500px;
    margin: 20px auto;
    padding: 5px auto;
}

textarea{
    width: 500px;
    height: 200px;
    margin: 20px auto;
    padding: 5px auto;
}